body{
  background-color: rgb(208, 244, 208);
}
h1,h2,p{
  text-align: center;
  font-size: larger;
  font-family:cursive ;
}
img{
  margin: 0 auto;
  display: table;
  border-radius: 5%;
  padding: 0%;
}
ol{
  margin: 0 auto;
  display: table
}